<h1>Hi {{currentUser.firstName}}!</h1>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        <h3>
            Username: {{user.username}}  - <a *ngIf="currentUser.role === Admin && currentUser.username !== user.username" (click)="deleteUser(user.id)" class="text-danger">Delete</a>
        </h3>
        <h5>
            First Name: {{user.firstName}}
        </h5>
        <h5>
            Last Name: {{user.lastName}}
        </h5>
        <h5>
            Role: {{user.role}}
        </h5>
    </li>
</ul>