<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" *ngIf="currentUser.role === 'Admin'" routerLink="/user-management">User Management</a>
        <a class="nav-item nav-link" routerLink="/audience">Audience</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <h5 class="nav-item nav-link" style="float: right">Hello {{currentUser.username}}</h5>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>